
server: 
   port: 8080
spring: 
   datasource: 
      url: jdbc:mysql://localhost:3306/empldb?allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true&useSSL=false
      username: root
      password: My81ack80r&
      driver-class-name: com.mysql.cj.jdbc.Driver
   jpa: 
      show-sql: true
      properties: 
         hibernate: 
            dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      hibernate: 
         naming: 
            implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
            physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
         ddl-auto: update
logging:
   level: 
      com: 
         gabriel: 
            pricems: TRACE
